<%= link_to 'Задать вопрос.', '#', onclick: "create_question();", class: "flrght" %>
<h1>Вопросы и ответы</h1>

<% @answers.each do |answer| %>
  <p>
    <b><%="Вопрос #{answer.question.id}: #{answer.question.title}" %></b> </br>
    <%= answer.question.content %>
  </p>
  <div class='answer'>
    <%= answer.content %>
  </div>
  <div class="for_clear"></div>
  </br>
<% end %>

<%= link_to 'New Question', new_question_path %>
