<h2>Регистрация пользователя.</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :required => true, label: "Имя" %>
    <%= f.input :surname, :required => true, label: "Фамилия" %>
    <%= f.input :patronymic, label: "Отчество" %>
    <%= f.input :birthday, :required => true, label: "День Рождения" %>
    <%= f.input :country, label: "Страна", as: :string %>
    <%= f.input :city, :required => true, label: "Город" %>
    <%= f.input :phone, label: "Телефон" %>
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true, label: "Пароль" %>
    <%= f.input :password_confirmation, :required => true, label: "Подтверждение пароля" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Регистрация" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
