<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: 'Название' %>
    <%= f.input :photo, label: 'Изображение' %>
    <%= f.input :shortdesc, as: :ckeditor, label: 'Краткое описание', input_html: { toolbar: 'Full' } %>
    <%= f.input :description, as: :ckeditor, label: 'Содержание', input_html: { toolbar: 'Full' } %>
    <%= f.input :meta_title %>
    <%= f.input :meta_desc %>
    <%= f.input :meta_key %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
