<h1>Listing articles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Photo</th>
    <th>Description</th>
    <th>Meta title</th>
    <th>Meta desc</th>
    <th>Meta key</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= article.name %></td>
    <td><%= article.photo %></td>
    <td><%= article.description %></td>
    <td><%= article.meta_title %></td>
    <td><%= article.meta_desc %></td>
    <td><%= article.meta_key %></td>
    <td><%= link_to 'Show', article %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
