<p id="notice"><%= notice %></p>
<h3>
  <%= @instructor.name %> 
  /
  <%= @instructor.try(:filial).try(:title) %>
</h3>
<div>
  <%= image_tag @instructor.photo.large.url %>
</div>
<div>
  <%= @instructor.description %>
</div>
<% if current_user.try(:isAdmin?)   %>
  <p>
    <b>Meta title:</b>
    <%= @instructor.meta_title %>
  </p>

  <p>
    <b>Meta desc:</b>
    <%= @instructor.meta_desc %>
  </p>

  <p>
    <b>Meta key:</b>
    <%= @instructor.meta_key %>
  </p>


  <%= link_to 'Edit', edit_instructor_path(@instructor) %> |
  <%= link_to 'Back', instructors_path %>
<% end %>