<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @instructor.name %>
</p>

<p>
  <b>Photo:</b>
  <%= @instructor.photo %>
</p>

<p>
  <b>Description:</b>
  <%= @instructor.description %>
</p>

<p>
  <b>Meta title:</b>
  <%= @instructor.meta_title %>
</p>

<p>
  <b>Meta desc:</b>
  <%= @instructor.meta_desc %>
</p>

<p>
  <b>Meta key:</b>
  <%= @instructor.meta_key %>
</p>


<%= link_to 'Edit', edit_instructor_path(@instructor) %> |
<%= link_to 'Back', instructors_path %>
