<%= simple_form_for(@answer) do |f| %>
  <%= f.error_notification %>
  <div id="close" onclick="closepopup();">X</div>
  <div class="form-inputs">
    <b><%= "Вопрос №: #{@question.id}" %></b><br/>
    <b><%= "\"#{@question.try(:title)}\"" %></b>

    <%= f.hidden_field :question_id, label: 'Номер вопроса', value: @question.id, as: :string %>
    <%= f.input :content, label: 'Ответ', :input_html => { :cols => 99, :rows => 10 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Ответить' %>
  </div>
<% end %>
