<p id="notice"><%= notice %></p>

<p>
  <b>Photo:</b>
  <%= image_tag @picture.photo.url %>
</p>

<p>
  <b>Alt:</b>
  <%= @picture.alt %>
</p>

<p>
  <b>Description:</b>
  <%= @picture.description %>
</p>


<%= link_to 'Edit', edit_pic_path(@picture) %> |
<%= link_to 'Back', albums_path %>
