
<%= simple_form_for(@page) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title, label: 'Название' %>
    <%= f.input :top_page, label: 'Верхнее меню?' %>
    <%= f.input :image, label: 'Изображение' %>
    <%= f.input :content, as: :ckeditor, label: 'Содержание', input_html: { ckeditor: {toolbar: 'Full'} } %>
    <%= f.input :meta_title %>
    <%= f.input :meta_desc %>
    <%= f.input :meta_key %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
