<%= simple_form_for(@txtinfo) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :tag, label: 'Атрибут-привязка', collection: ["program1", "program2", "program3", "text3"] %>
    <%= f.input :content, as: :ckeditor, label: 'Содержание', input_html: { ckeditor: {toolbar: 'Full'} } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
