<p id="notice"><%= notice %></p>

<%= @appointment.name %>
<%= @appointment.surname %>
<%= @appointment.email %>
<%= @appointment.phone %>
<%= @appointment.comment %>
<%= @appointment.seminar.title %>

