<p id="notice"><%= notice %></p>

<div class="title">
  <h1> <%= @seminar.title %> </h1>
</div>

<div class="descr">
  <%= raw @seminar.content %>
</div>

<% if current_user.try(:isAdmin?)   %>
  <p>
    <b>Meta title:</b>
    <%= @seminar.meta_title %>
  </p>

  <p>
    <b>Meta desc:</b>
    <%= @seminar.meta_desc %>
  </p>

  <p>
    <b>Meta key:</b>
    <%= @seminar.meta_key %>
  </p>


  <%= link_to 'Edit', edit_seminar_path(@seminar) %> |
  <%= link_to 'Back', seminars_path %>
<% end %>