<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  
  <title><%= seotitle%></title>
  <meta name="description" content="<%= seodescription %>" />
  <meta name="keywords" content="<%= seokeywords%>" />

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <script type="text/javascript" src="http://tinymce.moxiecode.com/js/tinymce/jscripts/tiny_mce/jquery.tinymce.js"></script>
  <script type="text/javascript" src="http://tinymce.moxiecode.com/js/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>

  <script type='text/javascript' charset='UTF-8'>
    $(document).ready(function(){  
      $('form[data-remote]').bind("ajax:before", function(){
        for (instance in CKEDITOR.instances){
          CKEDITOR.instances[instance].updateElement();
        }
      });
    });
  </script>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="content-top">
      <div class="logo">
        <%= image_tag "/assets/logo_text2.jpg" %>
        <%= image_tag "/assets/logo3.jpg" %>
      </div>
      
      <div class="login-links">
        <% if current_user %>
          <span><%= link_to current_user.email, edit_user_registration_path %></span> </br>
          <%= link_to "Выйти", destroy_user_session_path, :method => :delete %>
        <%else %>
          <div class="lgn-links">
            <%= link_to "Войти", new_user_session_path %> </br>
            <%= link_to "Регистрация", new_user_registration_path %>
          </div>
        <% end %>
      </div>
      
    </div>

    <div class="top-image">
      <%= image_tag "faceline.jpg" %>
    </div>
    <div id="content-body">
      <% if current_user.try(:isAdmin?)   %>
        <div class="admin-links">
          Создать:  
          <%= link_to "Страницу", new_page_path %>|
          <%= link_to "Новость", new_newspage_path %>|
          <%= link_to "Филиал", new_filial_path %> |
          <%= link_to "Программу", new_seminar_path %> |
          <%= link_to "Текст", new_txtinfo_path %> |
          <%= link_to "Статью", new_article_path %> |
          <%= link_to "Галерею", new_seminar_path %> 
        </div>
      <% end %>
      <div class="top-menu">
        <% @pages.each do |p|%>
          <%= link_to p do %>
            <div class="mbutton">
              <%= p.try(:title) %>
            </div>
          <% end %>
        <% end %>
        <%= link_to  newspages_path do %>
          <div class="mbutton">
            Новости
          </div>
        <% end %>
        <%= link_to seminars_path do %>
          <div class="mbutton">
            Программы
          </div>
        <% end %>
        <% if current_user.try(:isAdmin?)   %>
          <%= link_to filials_path do %>
            <div class="mbutton">
              Филиалы
            </div>
          <% end %>
          <%= link_to pictures_path do %>
            <div class="mbutton">
              Галерея
            </div>
          <% end %>
          <%= link_to questions_path do %>
            <div class="mbutton">
              Вопросы
            </div>
          <% end %>
        <% end %>
        <%= link_to @contacts do %>
          <div class="mbutton">
            Контакты
          </div>
        <% end %>
      </div>

      
      <%= yield %>
    </div>

    <div id="content-footer">
      <div class="bottom-menu">
        <% @pages.each do |p|%>
          <%= link_to p do %>
              <%= p.title %>
          <% end %>
        <% end %>
        <%= link_to  newspages_path do %>
            Новости
        <% end %>
        <%= link_to seminars_path do %>
            Семинары
        <% end %>
        <% if current_user.try(:isAdmin?)   %>
          <%= link_to filials_path do %>
              Филиалы
          <% end %>
          <%= link_to pictures_path do %>
              Галерея
          <% end %>
          <%= link_to questions_path do %>
              Вопросы
          <% end %>
        <% end %>
        <%= link_to @contacts do %>
            Контакты
        <% end %>
      </div>
    </div>
    <div class="wrapper">
      <div id="popup"></div>
    </div>
  </div>
</body>
</html>
