<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>

  <title><%= seotitle %></title>
  <meta name="description" content="<%= seodescription %>" />
  <meta name="keywords" content="<%= seokeywords%>" />

  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div class="content-top row ">
      <div class="span3  with_custom">
        <div>
          <%= image_tag '/assets/logo2.png' %>
        </div>
        <div class="login-links">
          <% if current_user %>
            <span><%= link_to current_user.email, edit_user_registration_path %></span> </br>
            <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
          <%else %>
            <a href=<%= new_user_session_path %> >
              <div class='button_class'>
                Войти
              </div>
            </a>
            <a href=<%= new_user_registration_path %> >
              <div class='button_class'>
                Регистрация
              </div>
            </a>
          <% end %>
        </div>
      </div>

      <div class="span9 with_custom">
        <div class="top-image">
          <%= image_tag @topimage.header_url(:thumb), alt: @topimage.alt %>
        </div>

        <div class='slogan'>
           <%= @topimage.slogan %>
        </div>
      </div>

      <div class="span3 patent with_custom">

      </div>

    </div>

    <div id="content-body">
      <% if current_user.try(:isAdmin?)   %>
        <div class="admin-links">
          Создать:
          <%= link_to 'Страницу', new_page_path %>|
          <%= link_to 'Новость', new_newspage_path %>|
          <%= link_to 'Филиал', new_filial_path %> |
          <%= link_to 'Программу', new_seminar_path %> |
          <%= link_to 'Текст', txtinfos_path %> |
          <%= link_to 'Статью', new_article_path %> |
          <%= link_to 'Инструктора', new_instructor_path %> |
          <%= link_to 'альбом', new_album_path %> |
          <%= link_to 'Гл. баннер', (Topimage.any? ? edit_topimage_path(1) : new_topimage_path) %> |
          <%= link_to "Ответить на вопросы(#{@count})", list_no_answered_questions_path %> |
          <%= link_to 'левый баннер', new_banner_path %>
        </div>
      <% end %>

      <div id="new-menu">
        <ul id="menu">


          <% @pages.each do |p|%>
            <li>
              <%= link_to p do %>
                <%= p.title %>
              <% end %>
            </li>
          <% end %>

          <li> <%= link_to 'Программы', seminars_path %></li>
          <li> <%= link_to 'Записаться', '#', onclick: 'go_to_program();' %></li>
        </ul>
      </div>
      <div class='main-content row-fluid'>
        <div class='span2'>
          <ul class='nav nav-pills left-menu' role='menu' aria-labelledby='dLabel'>
            <li class="dropdown-submenu">
              <%= link_to 'Информация', '#', tabindex: '-1' %>
              <ul class='dropdown-menu'>
                <% @other_pages.each do |p|%>
                    <li>
                      <%= link_to p do %>
                          <%= p.title %>
                      <% end %>
                    </li>
                <% end %>
              </ul>
            </li>
            <li> <%= link_to 'Новости', newspages_path %></li>
            <li> <%= link_to 'Филиалы', filials_path %></li>
            <% if current_user.try(:isAdmin?)   %>
                <li> <%= link_to 'Инструкторы', instructors_path %></li>
                <li> <%= link_to 'Галерея', albums_path %></li>
                <li> <%= link_to 'Вопросы', questions_path %></li>
                <li> <%= link_to 'Контакты', @contacts %></li>
            <% end %>
          </ul>
          <div class='left-banner'>
            <%- if Banner.any? %>
              <a href=<%= Banner.first.link_url %> target='blank'>
                <%= image_tag Banner.first.pic_url(:thumb) %>
              </a>
            <% end %>
          </div>
        </div>
        <div class='white-area span8'>
          <%= yield %>
        </div>
        <div class='span2'>
          <h2 class="newstitle">Новости</h2>

          <%- Newspage.last(3).reverse.each do |newspage| %>
              <div class="newspage">
                <div class="date"> <%= newspage.created_at.strftime('%d.%m.%Y')%> </div>
                <h3> <%= link_to newspage.title, newspage %> </h3>
                <%=raw newspage.shortc.html_safe %>
                <div class="nplinks">
                  <%= link_to 'Подробнее', newspage %>
                  <% if current_user.try(:isAdmin?)   %>
                      <%= link_to 'Редактировать', edit_newspage_path(newspage) %>
                      <%= link_to 'Удалить', newspage, confirm: 'Вы уверены?', method: :delete %>
                  <% end %>

                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="content-footer">
      <div class="bottom-menu">
        <% @pages.each do |p|%>
          <%= link_to p do %>
              <%= p.title %>
          <% end %>
        <% end %>
        <%= link_to  newspages_path do %>
            Новости
        <% end %>
        <%= link_to seminars_path do %>
            Семинары
        <% end %>
        <% if current_user.try(:isAdmin?)   %>
          <%= link_to filials_path do %>
              Филиалы
          <% end %>
          <%= link_to albums_path do %>
              Галерея
          <% end %>
        <% end %>
        <%= link_to @contacts do %>
            Контакты
        <% end %>
      </div>
    </div>
    <div class="wrapper">
      <div id="popup"></div>
    </div>
  </div>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter19638637 = new Ya.Metrika({id:19638637,
                      clickmap:true,
                      trackLinks:true,
                      accurateTrackBounce:true});
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/19638637" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->
</body>
</html>
